@model dynamic

@{
	Layout = null;

	bool discloseDeploymentMethod = ViewBag.DiscloseDeploymentMethod;
}

<!DOCTYPE html>

<html>
	<head>
		<title>Testing a noMicrosoft version of Continuous Delivery</title>
	</head>
	<body>
		<h2>
			  This site is continuously delivered using @(!discloseDeploymentMethod ? "a secret method" : "TeamCity").
		</h2>
	</body>
</html>