@model dynamic

@{
	Layout = null;

	bool hideDeploymentMethod = !ViewBag.DiscloseDeploymentMethod;
}

<!DOCTYPE html>

<html>
<head>
	<title>Testing a noMicrosoft version of Continuous Delivery</title>
</head>
<body>
	<h2>This is the old version of the site.</h2>
	<br />

	<br />
	<h3>Follow <a href="http://twitter.com/noopman">@@noopman</a> on Twitter!</h3>
</body>
</html>
