@model dynamic

@{
	Layout = null;

	bool discloseDeploymentMethod = ViewBag.DiscloseDeploymentMethod;
}

<!DOCTYPE html>

<html>
	<head>
		<title>Testing a noMicrosoft version of Continuous Delivery</title>
	</head>
	<body>
		<h2>
			@if (discloseDeploymentMethod)
			{
				<h2>This site is continuously delivered using some secret product.</h2>
			}
			else
			{
				<h2>This site is continuously delivered using TeamCity.
					<br />
					Read the very long blog post on how to do that here: <a target="_blank" href="http://bit.ly/tccdwaws">http://bit.ly/tccdwaws</a>!
		 </h2>
			}			
		</h2>
	</body>
</html>