@model dynamic

@{
	Layout = null;

	bool hideDeploymentMethod = !ViewBag.DiscloseDeploymentMethod;
}

<!DOCTYPE html>

<html>
<head>
	<title>Testing a noMicrosoft version of Continuous Delivery</title>
	<style type="text/css">
		.center {
			text-align: center;
		}
	</style>
</head>
<body>
	<div class="center">
		@if (hideDeploymentMethod)
		{
			<h2>This site is continuously delivered using some secret method!</h2>
		}
		else
		{
			<h2>
				This site is continuously delivered using TeamCity.
				<br />
				<br />
				Read the very long blog post on how to do this here: <a target="_blank" href="http://bit.ly/tccdwaws">http://bit.ly/tccdwaws</a>!
			</h2>
		}
		<br />
		<h2>This is the old version of the site.</h2>
		<br />
		<h3>Tweet #TechDaysNL + <a href="http://twitter.com/noopman">@@noopman</a>!</h3>
	</div>
</body>
</html>